telethon
setuptools
wheel
aiofiles
aiohttp
beautifulsoup4
cairosvg
cfscrape
colour
emoji==1.7.0
cryptg
csvfaker
DateTime
fontTools
python-dotenv
fonttools
geopy
gitpython
pydub
bs4
tgcrypto
pymongo[srv]
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gsearch
git+https://github.com/buddhhu/img2html.git
gtts
hachoir
heroku3
html-telegraph-poster
humanize
jotquote
justwatch
kwot
lottie
lxml
lyricsgenius
motor==3.0.0
markdown-it-py
nekos.py
patool
Pillow
prettytable
programmingquotes
psutil
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
python-barcode
pyTelegramBotAPI==3.7.7
pytuneteller
pytz
qrcode
regex
flask
gunicorn
requests
search-engine-parser
selenium
spamwatch
sqlalchemy==1.3.23
telegraph
telethon-session-sqlalchemy
telethon-tgcrypto
tswift
validators
vcsi
wand
wikipedia
git+https://github.com/cinemagoer/cinemagoer
git+https://github.com/Jisan09/search-engine-parser
